<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = 'test'>
    {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    
    {% endif %}
    </div>

      <script>
    function executeQuery() {
  $.ajax({
    url: "{% url 'graph' %}",
    success: function(data) {
      // do something with the return value here if you like
    }
  });
  setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
}

$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(executeQuery, 5000);
});
</script>
    
</body>

</html>